/*
  ---  CSS -> body
*/
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

/**
  --- MEDIA > 768 px --- ( mobile )
**/

@media (max-width:767px){
#Presentation{
    display: block;
    width: 100%;
    text-align: center;
    background-color: darkcyan
    }
    .presentation-image{
        width: 190px;
        height: 150px;
		border-radius: 100%;
		overflow: hidden
    }
    .presentation-titre{
        font-size: 3.5em;
		font-family: "Passion One";
        letter-spacing: .1em;
        padding: 0.2em 0.3em;
        color: white
    }
    .presentation-slogan{
        font-size: 2.5em;
		    font-family: "Amatic SC";
        letter-spacing: .1em;
        padding: 0.2em 0.3em;
        color: white;
        margin: 0;
        
    }
#mainContent{
  height: 70vh;
  background-color:#03A9F4;
}
.navItem{
  text-align: center;
  background-color: darkcyan;
}
.nav-link{
  color: white;

}

    footer{
    height: 5vh;
    width: 100%;
    padding: 0.5em;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    
}
}
/*
  --- MEDIA de 767 à 1023px --- ( tablette )
*/
/** presentation **/
@media (min-width:768px) and (max-width:1023px){
#Presentation{
    align-items: center;
    background-color: #616161;
	display: flex;
	justify-content: center;
	padding: 0.9em;
    }
    .presentation-image{
        width: 190px;
		float: left;
		height: 150px;
		border-radius: 100%;
		overflow: hidden
    }
#PresentationTexte{
        margin-left: 1em
    }    
    .presentation-titre{
        font-size: 3.5em;
		font-family: "Passion One"
    }
    .presentation-slogan{
        font-size: 2.5em;
		font-family: "Amatic SC"
    }
#mainContent{
  height: 70vh;
  background-color:#9E9E9E;
}
.navItem{
  text-align: center;
  background-color:darkgray;
}
.nav-link{
  color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: lightgray;
  color: white;
}
footer{
    height: 5vh;
    width: 100%;
    padding: 0.5em;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
}
}

/*
  --- MEDIA > 1024px --- ( ordi )
*/
/** presentation **/
@media (min-width:1024px){
body{
  background-image: url(../assets/images/star.jpg)
}
#Presentation{
    align-items: center;
	display: flex;
	justify-content: center;
	padding: 0.9em;
    height: 30vh
    }
.presentation-image{
        width: 190px;
        height: 150px;
		border-radius: 100%;
		overflow: hidden
    }
.presentation-titre{
        margin: 0.5em;
        font-size: 3.5em;
		font-family: "Arvo";
        color: white;
    }
.presentation-slogan{
    margin: 0.5em;
        font-size: 3.5em;
    font-family: "Amatic SC";
    color:white;
    }

#mainContent{
  height: 70vh;
}
.navItem{
  text-align: center;
  border:black solid 1px;
}
.nav-link{
  color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color:black;
  color: white;
}
/** Footer **/
footer{
        height: 5vh;
        width: 100%;
        padding: 0.5em;
        justify-content: center;
        text-align: center;
        background-color: black;
        color: white;
  }
}