/*
  ---  CSS -> body
*/
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

/**
  --- MEDIA > 768 px --- ( mobile )
**/

@media (max-width:767px){
#Presentation{
    display: block;
    width: 100%;
    text-align: center;
    background-image: url(http://cdn77.orangesmile.com/common/img_cities_original/antibes--1407848-1.jpg);
    }
    .presentation-image{
        width: 190px;
        height: 150px;
		border-radius: 100%;
		overflow: hidden
    }
    .presentation-titre{
        font-size: 3.5em;
		font-family: "Passion One";
        letter-spacing: .1em;
        padding: 0.2em 0.3em;
        color: white
    }
    .presentation-slogan{
        font-size: 2.5em;
		font-family: "Amatic SC";
        letter-spacing: .1em;
        padding: 0.2em 0.3em;
        color: white
    }
    #byline{
        display: none
    }
    .byline{
        display: none
    }
    /** navigation **/
    #myTab{
        display: block;
        background-color: #0097A7;
        margin-top: -1em
    }
    #home-tab{
        color: black;
        text-align: center;
    }
    #profile-tab{
        color: black;
        text-align: center;
    }
    #contact-tab{
        color: black;
        text-align: center
    }
    footer{
    height: 1vh;
    
}
}
/*
  --- MEDIA de 767 à 1023px --- ( tablette )
*/
/** presentation **/
@media (min-width:768px) and (max-width:1023px){
#Presentation{
    align-items: center;
    background-color: #616161;
	display: flex;
	justify-content: center;
	padding: 0.9em;
    }
    .presentation-image{
        width: 190px;
		float: left;
		height: 150px;
		border-radius: 100%;
		overflow: hidden
    }
#PresentationTexte{
        margin-left: 1em
    }    
    .presentation-titre{
        font-size: 3.5em;
		font-family: "Passion One"
    }
    .presentation-slogan{
        font-size: 2.5em;
		font-family: "Amatic SC"
    }
/** navigation **/
#myTab{
        justify-content: space-between;
        background-color: #424242;
    }
    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: aqua
    }
}
footer{
    height: 1vh;
    
}

/*
  --- MEDIA > 1024px --- ( ordi )
*/

@media (min-width:1024px){
/** presentation **/
#Presentation{
    align-items: center;
    background-color: black;
	display: flex;
	justify-content: center;
	padding: 0.9em;
    height: 30vh
    }
.presentation-image{
        width: 190px;
        height: 150px;
		border-radius: 100%;
		overflow: hidden
    }
.presentation-titre{
        width: 100%;
        font-size: 3.5em;
		font-family: "Arvo";
        box-shadow: 1em solid white;
    color: white
    }
.presentation-slogan{
        font-size: 3.5em;
		font-family: "Amatic SC";
        background-color: white;
        box-shadow: 1em solid white;
    }
/** navigation **/
    #myTab{
        justify-content: space-around;
        background-color: #424242;
    }
    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: aqua
    }
/** Main **/
    #main{
      
    }

/** Footer **/
    footer{
        height: 5vh;
        width: 100%;
        padding: 0.5em;
        justify-content: center;
        text-align: center;
        background-color: black;
        color: white;
}



